"*":
  "activate-power-mode":
    comboMode:
      opacity: 0.5
      streakTimeout: 30
    particles:
      size: {}
      totalCount: {}
    playAudio: {}
    plugins:
      playAudio: true
      screenShake: true
    screenShake:
      enabled: false
      maxIntensity: 10
  "aligner-ruby": {}
  "atom-beautify":
    general:
      _analyticsUserId: "2d89634e-569a-4025-90b5-79288c1c77b1"
  "atom-package-deps":
    ignored: []
  autosave:
    enabled: true
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "ruby-block-converter"
      "Remote-FTP"
      "linter-ruby"
      "git-diff-details"
      "up2date"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "tmp/*"
      "log/*"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
    telemetryConsent: "limited"
  "custom-title":
    template: "<% if (relativeFilePath){ %><%= relativeFilePath %><% } else { %><%= fileName %><% } %><% if (projectPath) { %> - <%= projectName %><% if (gitHead) { %> [<%= gitHead %>]<% } %><% } %>"
  dash:
    grammars:
      Ruby: [
        "ruby"
        "rubygems"
        "rails"
      ]
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    scrollSensitivity: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "e83ec819-10a2-a8a9-b331-93744524b609"
  linter: {}
  "linter-rubocop":
    command: "/home/pierre/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-ruby": {}
  "linter-ui-default":
    panelHeight: 237
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    adjustAbsoluteModeHeight: true
    displayMinimapOnLeft: true
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
    scrollAnimation: true
    scrollAnimationDuration: 200
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments:
    notifyReloads: false
  "project-plus":
    notifications: false
  "rails-transporter":
    controllerSpecType: "requests"
  rspec:
    command: "docker-compose run web rspec"
  "rubocop-auto-correct":
    correctFile: true
  tabs: {}
  "terminal-plus":
    core: {}
  "tool-bar":
    fullWidth: false
    iconSize: "16px"
    position: "Left"
  "tree-view": {}
  "vertical-tabs":
    setToRightSide: true
    tabBarWidth: 22
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  zentabs:
    maximumOpenedTabs: 10
